<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include navbar.html %}

    <div id="reading-progress"></div>

    <main class="site-main">
      <div class="container">
        {{ content }}
        {% include footer.html %}
      </div>
    </main>

    <a href="javascript:void(0)" id="back-to-top" title="回到顶部"><i class="fa fa-arrow-up"></i></a>
    <div id="lightbox-mask" class="lightbox-mask" role="dialog" aria-hidden="true"></div>

    {% include external.html %}

  </body>

</html>
